/*****
custom.css

principal stylesheet for rileylannon.com
(excluding bootstrap)

*****/

body{
    position:relative;
}

.main-content{
    text-align: center;
    height:100vh;
    padding-top:50vh;
    overflow: hidden;
    image-resolution: from-image;
    background-size:contain;
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
}

.overlay-container{
    position:relative;
}

.overlay{
    position:absolute;
    width: 100%;
    height:100%;
    opacity:0;
    left:0;
    right:0;
    top:0;
    margin:auto;
    transition: 1s ease;
    vertical-align: middle;
}

.overlay-content{
    color:white;
    position:relative;
    padding-top:50vh;
}

.overlay-color-purple{
    background:rgba(147,112,219,.75);
}

.overlay-color-white{
    background:rgba(0,0,0,.7)
}

.overlay-container:hover .overlay{
    opacity:1;
    cursor:pointer;
}

img{
    max-height: inherit;
    max-width: inherit;
}

#production{
    background-image: url(../media/ableton.png);
    border-style: solid;
    border-color: black;
}

#composition{
    background-image: url(../media/score.png);
    border-color: black;
    border-style: solid;
}